<app-header></app-header>
<div class="pagarservico">
    <div class="container">
        
        <h2>Pagamento da Solicitação</h2>
        <div class="solicitacao-detalhes">
            <p><strong>Descrição do Equipamento:</strong> Computador Gamer</p>
            <p><strong>Categoria:</strong> Computadores</p>
            <p><strong>Descrição do Defeito:</strong> Tela azul ao inicializar</p>
            <p><strong>Data da Solicitação:</strong> 20/09/2024</p>
            <p><strong>Estado:</strong> AGUARDANDO PAGAMENTO</p>
            <p><strong>Valor do Serviço:</strong> R$ 450,00</p>
        </div>
        <button (click) = "confirmarPagamento()" id="confirmarPagamento">Confirmar Pagamento</button>
    </div>
</div>