<app-headerfuncionario></app-headerfuncionario>
<div class="finalizarsolicit">
    <div class="container">
        
        <h2>Finalizar Solicitação</h2>
        <div class="solicitacao-detalhes">
            <p><strong>Número da Solicitação:</strong> 12345</p>
            <p><strong>Descrição da Solicitação:</strong> Manutenção de impressora</p>
            <p><strong>Status Atual:</strong> PAGA</p>
            <p> <strong> Data e Hora atual:  </strong> {{dataHora}} </p>
        </div> 
        
        <div class="form-group">
            <label for="funcionario">Funcionário Responsável</label>
            <input type="text" id="funcionario" value="Maria" disabled>
        </div>

        <button (click) = "finalizarSolicitacao()" id="finalizar-btn">Finalizar Solicitação</button>
    </div>
</div>
