/* You can add global styles to this file, and also import other style files */
.title-table {
  /* background-color: red; */
  margin: 0 auto;
  padding: 30px;
  font-weight: 100;
  text-align: center;
}
.container {
  margin: 0 auto;
  padding: 0%;
  padding-top: 20px;
}

.botao-table {
  display: flex;
  align-items: center;
}

