<app-headerfuncionario></app-headerfuncionario>
<h1>Editar Categoria</h1>
<div class="well">
    <form #formCategoria="ngForm">
        <!-- Dados Categoria -->
            
        <div class="form-group">
            <label for="nome">Nome:</label>
            <input type="text" class="form-control" id="nome" name="nome" [(ngModel)]="categoria.nome" #nome="ngModel"
                minlength="2" required>
            <div [hidden]="!nome.errors?.['required']" class="alert alert-danger">Digite o nome da categoria.</div>
            <div [hidden]="!nome.errors?.['minlength']" class="alert alert-danger">O nome da categoria deve conter ao menos 2
                caracteres.</div>
        </div>

        <!-- botoes -->
        <div class="form-group">
            
            <a class="btn btn-secondary" [routerLink]="['/categorias/listar']">
                <i class="fa fa-arrow-left" aria-hidden="true"></i> Voltar
            </a>

            <button type="button" class="btn btn-primary" (click)="atualizarCategoria()" [disabled]="!formCategoria.form.valid">
                <i class="fa fa-save" aria-hidden="true"></i> Salvar
            </button>
            
        </div>

    
    </form>
</div>