<app-header></app-header>
<div class="visualizarservicos">
    <div class="container">
        <h2>Equipamento em Manutenção...Aguarde!</h2>
        <div class="solicitacao-detalhes">
            <p><strong>Data da Solicitação:</strong> 2024-09-14 09:30</p>
            <p><strong>Prazo Estimado da Conclusão:</strong> 7 dias</p>
            <p><strong>Descrição do Equipamento:</strong> Notebook Dell Inspiron</p>
            <p><strong>Categoria:</strong> Notebooks</p>
            <p><strong>Descrição do Defeito:</strong> A tela do notebook apresenta várias linhas coloridas, dispostas horizontalmente.</p>
            <p><strong>Estado:</strong> APROVADA</p>
            <p><strong>Valor do Serviço:</strong> R$ 400,00 </p>
        </div>
    </div>
</div>
