<app-headerfuncionario></app-headerfuncionario>
<div class="aplicarmanutencao"> 
    <div class="container">
        
        <h2>Dados da Solicitação de Manutenção</h2>
        <div class="solicitacao-detalhes">
            <p><strong>Nome do Cliente:</strong> {{ solicitacao?.cliente.nome }}</p>
            <p><strong>Descrição do Equipamento:</strong> {{ solicitacao?.description }} </p>
            <p><strong>Categoria:</strong> {{ solicitacao?.categoria.nome }} </p>
            <p><strong>Descrição do Defeito:</strong> {{ solicitacao?.defeito }}</p>
            <p><strong>Data da Solicitação:</strong> {{ solicitacao?.date | date: 'dd MMM yyyy, hh:mm a' }} </p>
            <p><strong>Estado:</strong> <span> {{ solicitacao?.status }} </span></p>
        </div>

        <div class="maintenance-actions">
            <h3>Efetuar Manutenção</h3>
            <label for="descricaoManutencao">Descrição da Manutenção:</label>
            <textarea id="descricaoManutencao" class="form-control" rows="4" [(ngModel)]="descricaoManutencao"></textarea>

            <label for="orientacoesCliente">Orientações para o Cliente:</label>
            <textarea id="orientacoesCliente" class="form-control" rows="4" [(ngModel)]="orientacoesCliente"></textarea>

            <button (click)="efetuarManutencao()" class="btn btn-success">Efetuar Manutenção</button>
            <button (click)="redirecionarManutencao()" class="btn btn-danger">Redirecionar Manutenção</button>
        </div>
    </div>
</div>
