<app-headerfuncionario></app-headerfuncionario>
<div class="container">
    <header>
        <h2>Efetuar Orçamento</h2>
    </header>
    <div class="solicitacao-detalhes">
        <p><strong>Categoria:</strong> Computadores</p>
        <p><strong>Descrição do Defeito:</strong> Tela azul ao inicializar</p>
        <p><strong>Data da Solicitação:</strong> 20/09/2024</p>
        <strong>Orçar valor:</strong>
        <form id="valor-orcado" action="/submit" method="post">
            <label for="numero">R$</label>
            <input type="number" id="numero" name="numero" required min="0">
        </form>
    </div>
    <div class="popup">
        <div class="button-container">
            <button (click)="confirmarOrcamento()" id="aprovar" class="btn btn-success">
                Confirmar orçamento
            </button>
        </div>
    </div>
</div>
