<app-headerfuncionario></app-headerfuncionario>
<div class="pgfuncionario">
    <div class="container">
        <h2>Solicitações em Aberto</h2>
        <table id="requestsTable">
            <thead>
                <tr>
                    <th>Data/Hora</th>
                    <th>Nome do Cliente</th>
                    <th>Descrição do Equipamento</th>
                    <th>Estado da Solicitação</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let request of requests">
                    <td>{{ request.date }}</td>
                    <td>{{ request.name }}</td>
                    <td>{{ request.description.substring(0, 30) }}</td>
                    <td>{{ request.status }}</td>
                    <td>
                        <button 
                          [ngClass]="getButtonProperties(request).class"
                          (click)="getButtonProperties(request).action()">
                          {{ getButtonProperties(request).text }}
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
