<header>
    <div class="navbar navbar-expand-lg bg-body-tertiary p-4" >
        <h1 class="navbar-brand">Razer Manutenções</h1>
        <nav class="navbar-nav ms-auto p-4">
            <a class="nav-link me-2" [routerLink]="['/categorias/listar']">Cadastrar Categoria</a>
            <a class="nav-link me-2" [routerLink]="['/pgfuncionario']">Todas Solicitações</a>
            <a class="nav-link me-3" [routerLink]="['/solicitabertas']">Solicitações Abertas</a>
            <a class="nav-link me-4" [routerLink]="['/relatorioCategoria']">Relatorio por Categoria</a>
            <a class="btn btn-danger me-1" [routerLink]="['/login']">
                <i class="fas fa-sign-out-alt" style="margin-right: 5px;"></i> Sair
            </a>
        </nav>
    </div>
</header>

