<div class="loginpg">
    <div class="banner-login"></div>
        <div class="login-container">
        <h2>Login</h2>
        <form id="loginForm">
            <label for="email">E-mail</label>
            <input type="email" id="email" name="email" required />

            <label for="senha">Senha</label>
            <input type="password" id="senha" name="senha" required />

            <button
            onclick="window.location.href ='../Client/paginaCliente.html'"
            type="submit"
            >
            Entrar
            </button>
        </form>
        <div class="links">
            <a href="../Register/autoCadastro.html"
            >Não tem cadastro? Cadastre-se</a
            >
            <a href="../Recovery/recuperarSenha.html">Esqueceu a senha?</a>
        </div>
    </div>
</div>