<div class="loginpg">
    <div class="banner-login"></div>
        <div class="login-container">
        <h2>Login</h2>
        <form id="loginForm">
            <label for="email">E-mail</label>
            <input type="email" id="email" name="email" />
            <label for="senha">Senha</label>
            <input type="password" id="senha" name="senha"  />

            <button
            [routerLink]="['/pgcliente']"
            type="submit">
            Entrar
            </button>
        </form>
        <div class="links">
            <a [routerLink]="['/cadastro']">
                Não tem cadastro? Cadastre-se
            </a>
            <a [routerLink]="['/pgfuncionario']">Entrar como funcionario</a>
        </div>
    </div>
</div>