.aplicarmanutencao {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding-top: 60px; 
}

.container {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 800px;
    margin: 20px auto;
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.solicitacao-detalhes p {
    color: #555;
    margin: 10px 0;
}

.maintenance-actions {
    margin-top: 20px;
}

.maintenance-actions h3 {
    color: #333;
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #ddd;
    font-size: 16px;
    background-color: #f9f9f9;
    resize: vertical;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    width: 100%;
}

.btn-success {
    background-color: green;
    color: white;
    margin-bottom: 10px;
}

.btn-danger {
    background-color: red;
    color: white;
}

.btn:hover {
    opacity: 0.9;
}

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin: 0;
}

.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #3700b3;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
}

.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@media (max-width: 768px) {
    .container {
        width: 90%;
    }

    .btn {
        width: 100%;
    }
}
