<app-header></app-header>
<div class="pgnovasolicit">
    <div class="container">
        
        <h2>Nova Solicitação de Manutenção</h2>
        <form id="solicitacaoForm">
            <label for="descricaoEquipamento">Descrição do Equipamento</label>
            <input type="text" id="descricaoEquipamento" name="descricaoEquipamento" required>

            <label for="categoriaEquipamento">Categoria do Equipamento</label>
            <input 
                type="text" 
                id="categoriaEquipamento" 
                name="categoriaEquipamento"
                class="form-control"
                [ngbTypeahead]="search"
                (focus)="focus$.next($any($event).target.value)"
	            (click)="click$.next($any($event).target.value)"
	            #instance="ngbTypeahead"
                required
            />

            <label for="descricaoDefeito">Descrição do Defeito</label>
            <textarea id="descricaoDefeito" name="descricaoDefeito" required></textarea>

            <button (click)="realizarSolicitacao()">Enviar Solicitação</button>
        </form>
    </div>
</div>