
/* .pgfuncionario {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h2 {
    text-align: center;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

td {
padding: 10px;
border: 1px solid #ccc;
text-align: left;
max-width: 200px;
overflow: hidden; 
text-overflow: ellipsis; 
white-space: nowrap; 
}

th {
    background-color: #6200ea;
    color: white;
}

button {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button.aprovar {
    background-color: #4CAF50;
    color: white;
}

button.rejeitar {
    background-color: #f44336;
    color: white;
}

button.resgatar,
button.pagar,
button.visualizar {
    background-color: #6200ea;
    color: white;
} */
