<app-headerfuncionario></app-headerfuncionario>

<div class="container">
    <h3 class="title-table">Solicitações em Aberto</h3>

    <!-- Inicio tabela -->         
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Data/Hora</th>
                <th>Cliente</th>
                <th>Descrição do Equipamento</th>
                <th>Estado da Solicitação</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let request of requests">
                <td>{{ request.date }}</td>
                <td>{{ request.name }}</td>
                <td>{{ request.description.substring(0, 30) }}</td>
                <td>{{ request.status }}</td>
                <td>
                    <button class="btn btn-sm btn-success btn table"
                      [ngClass]="getButtonProperties(request).class"
                      (click)="getButtonProperties(request).action()">
                      {{ getButtonProperties(request).text }}
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>


<!-- Fim Tabela -->

