<app-header></app-header>
<div class="pgnovasolicit">
    <div class="container">
        <h2>Nova Solicitação de Manutenção</h2>
        <form id="solicitacaoForm">
            <label for="descricaoEquipamento">Descrição do Equipamento</label>
            <input type="text" id="descricaoEquipamento" name="descricaoEquipamento" required>

            <label for="categoriaEquipamento">Categoria do Equipamento</label>
            <input type="text" id="categoriaEquipamento" name="categoriaEquipamento" required>

            <label for="descricaoDefeito">Descrição do Defeito</label>
            <textarea id="descricaoDefeito" name="descricaoDefeito" required></textarea>

            <button type="submit">Enviar Solicitação</button>
        </form>
    </div>
</div>