<app-header></app-header>
<div class = "pg">
    <div class="container">
            <h2>Solicitações do Cliente</h2>
            <table id="requestsTable">
                <thead>
                    <tr>
                        <th>Data/Hora</th>
                        <th>Descrição do Equipamento</th>
                        <th>Estado da Solicitação</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Passar o js para o ts -->
                </tbody>
            </table>
    </div>
</div>

