<app-header></app-header>
<div class = "pg">
    <div class="container">
    <h2>Solicitações do Cliente</h2>
    <table id="requestsTable">
        <thead>
        <tr>
            <th>Data/Hora</th>
            <th>Descrição do Equipamento</th>
            <th>Estado da Solicitação</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let request of requests; let i = index">
            <td>{{ request.date | date: 'dd MMM. yyyy'}}</td>
            <td>{{ request.description.substring(0, 30) }}</td>
            <td>{{ request.status }}</td>
            <td>
            <ng-container *ngIf="request.status === 'ORÇADA'">
                <button class="aprovar" (click)="aprovarServico()">Aprovar/Rejeitar Serviço</button>
            </ng-container>
            <ng-container *ngIf="request.status === 'REJEITADA'">
                <button class="default" (click)="resgatarServico(i)">Resgatar Serviço</button>
            </ng-container>
            <ng-container *ngIf="request.status === 'ARRUMADA'">
                <button class="default" (click)="pagarServico()">Pagar Serviço</button>
            </ng-container>
            <ng-container *ngIf="request.status !== 'ORÇADA' && request.status !== 'REJEITADA' && request.status !== 'ARRUMADA'">
                <button class="default" (click)="visualizarServico()">Visualizar Serviço</button>
            </ng-container>
            </td>
        </tr>
        </tbody>
    </table>
    </div>
</div>