.relatoriocategoria {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    height: 100vh;
    margin: 0;
    padding-top: 50px;
}

.container {
    display: flex; 
    align-items: flex-start;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 1000px;
}

.filter-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-right: 20px;
    width: 200px;
}

.filter-container label {
    margin-bottom: 5px;
}

.filter-container input,
.filter-container button {
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
}

.table-container {
    margin-left: auto; 
    margin-right: 50px; 
    width: 100%;
    max-width: 600px; 
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

th {
    background-color: #6200ea;
    color: white;
}

.imprimir-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-top: 30px; 
}

.imprimir-button img {
    width: 50px; 
    height: auto;
}
